DATABASE_URL=postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST:5432/bloodlink
PORT=8082
KEYCLOAK_URL=https://keycloak.3olba.com
KEYCLOAK_REALM=blood-donation
KEYCLOAK_CLIENT_ID=blood-donation-app
KEYCLOAK_ADMIN_REALM=master
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_USERNAME=YOUR_KEYCLOAK_ADMIN_USERNAME
KEYCLOAK_ADMIN_PASSWORD=YOUR_KEYCLOAK_ADMIN_PASSWORD
